ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 6px;
    text-decoration: dotted;
}

li a:hover {
    background-color: orange;
    width: 10px;
}

h1 {
    text-align: center;
    color: darkorange;
}

.sub1 {
    text-align: center;
    border: 2px inset orangered;
    margin: 2px;
    border-radius: 2em;
    margin-top: 5em;
}

h2 {
    text-align: left;
    padding-left: 15%;
}

.p1 {
    width: 50%;
    float: right;
    border-style: inset;
    padding: 1em;
    background-color: orange;
}

h3 {
    text-align: right;
    padding-right: 20em;
}

.p2 {
    width: 40%;
    float: left;
    border-style: inset;
    margin-left: 1em;
    background-color: orange;
}

.vind {
    display: block;
    margin: auto;
    border-style: inset;
    background-color: orange;
    width: 20%;
    height: 10%;
    border-color: red;
}

.vind:hover {
    border-style: inset;
    border-color: blue;
    transform: scale(2);
}

.sub2 {
    border-style: inset;
    border-color: orangered;
    background-size: 2em;
    margin-top: 5em;
    width: 50%;
    display: block;
    justify-content: right;
}

.rugbynl {
    display: flex;
}

.nl {
    width: 20%;
    display: flex;
    margin: auto;
    margin-left: 35%;
}

.regels {
    float: left;
    width: 30%;
    line-height: 2em;
    background-color: rgb(243, 219, 41);
}


h4 {
    text-align: center;
}

img:nth-child(3) {
    width: 12%;
    float: left;
    margin: auto;
    margin-left: 7%;
}

img:nth-child(5) {
    width: 12%;
    float: left;
    margin: auto;
    margin-left: 7%;

}

img:nth-child(6) {
    width: 12%;
    float: left;
    margin: auto;
    margin-top: 2%;
    margin-left: 7%;

}

img:nth-child(7) {
    width: 12%;
    float: left;
    margin: auto;
    margin-top: 2%;
    margin-left: 7%;

}

p:nth-child(2) {
    width: 20em;
    margin: auto;
}

.haarlem {
    width: 12%;
    float: left;
    margin-left: 7%;
}

h2:nth-child(1) {
    text-align: center;
}

img:nth-child(n) {
    width: 17%;
    height: 17%;
    display: inline;
    margin-left: 11%;
    padding-bottom: 2%;
}

img:nth-child(n):hover {
    transform: scale(1.05);
    transition: all 250ms;
}

footer{
    float: right;
    margin-top: 30%;
}